$default-color: #404040;

$primary-color-one: #000;
$primary-color-two: #e829a7;
$primary-color-three: #fff;

$secondary-color-one: #00e7d7;
$secondary-color-two: #f5ff5c;
$secondary-color-three: #f7f7f7;
$secondary-color-four: #f7f7f7;
$secondary-color-five: #f7f7f7;
$secondary-color-six: #f7f7f7;

$system-color-one:  #f7f7f7;
$system-color-two: #f7f7f7;
$system-color-three: #f7f7f7;
