$default-color: #404040;

$primary-color-one: #f7c7f7;
$primary-color-two: #f7f7c7;
$primary-color-three: #c7f7f7;

$secondary-color-one: #a7f7f7;
$secondary-color-two: #f7a7f7;
$secondary-color-three: #f7f7a7;
$secondary-color-four: #37f7f7;
$secondary-color-five: #f737f7;
$secondary-color-six: #f7f737;

$system-color-one:  #e7e7f7;
$system-color-two: #f7e7e7;
$system-color-three: #e7f7e7;
