$default-color: #404040;

$primary-color-one: #f7f7f7;
$primary-color-two: #f7f7f7;
$primary-color-three: #f7f7f7;

$secondary-color-one: #f7f7f7;
$secondary-color-two: #f7f7f7;
$secondary-color-three: #f7f7f7;
$secondary-color-four: #f7f7f7;
$secondary-color-five: #f7f7f7;
$secondary-color-six: #f7f7f7;

$system-color-one:  #f7f7f7;
$system-color-two: #f7f7f7;
$system-color-three: #f7f7f7;
