// Import typefaces here from Google Fonts or a web source and adjust sizes and form below
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
  text-transform: uppercase;
}

h6 {
  font-size: 1.75rem;
  font-weight: 100;
}

p {
  font-size: 1.5rem;
}

a {
  color: blue;
}
