// To add a hero image, add the image to the image folder on your computer, change the file name here ot images/yourfilename
// Adjust the height to be the height of the image, width will adjust on it's own.

.hero-image {
	background: url(/images/heroimage.svg) no-repeat center;
	background-size: cover;
  min-height: 493px;
}
