// To add logos, add the images to the image folder on your computer, change the file name here ot images/yourfilename
//
// .logo-a {
// 	.logo-image {
// 	background: url(images/logoa.svg) no-repeat;
// 	}
// }


.logo-image-white {
	background: url(images/stylegun-black.svg) no-repeat center center;
}

.logo-image-black {
	background: url(images/stylegun-white.svg) no-repeat center center;
}

.logo-image-white, .logo-image-black {
	height: 40%;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
